.titleBox {
  background-image: url(./Images/veggietable.jpeg);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-size: cover;
  width: 100%;
  min-height: 30em;
  
  -webkit-background-size: cover;
  -moz-background-size: cover, ;
  -o-background-size: cover,;
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0
  filter: grayscale(90%); */

}

.title {
  background-color: rgba(173, 166, 166, 0.836);
  opacity: 0.9;
  width: 100%;
}


.mainHeader {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
}
.motto {
  font-family: 'Roboto', serif;
}
.homeContentGrid {
  display: grid;
  /* grid-template-columns: 1fr 35em; */
  grid-template-rows: 20em;
  grid-template-areas: "about" "twitter";
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(85, 61, 61);
  color: white;
}

.col-1 {
grid-area: about;
background-color: black;

}
.col-2 {
  grid-area: twitter;
  width: 100px
}

/*Contact Page Style & Layout*/
.contactGrid {
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: 8em 10em 10em;
  grid-template-areas: "header" "email" "social";
  justify-content: center;
  align-items: end;
  text-align: center;
  background-image: url("./Images/plateOnWood.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 55em;
  /* opacity: 0.9; */
  -webkit-background-size: cover;
  -moz-background-size: cover, ;
  -o-background-size: cover,;
}

.headerCont {
  background-color: grey;
  opacity: 0.8;
  width: 100%;
}
.conHeader {
  grid-area: header;
  font-family: 'Roboto Slab', sans-serif;
}
.emailBox {
  grid-area: email;
}
.socialFollows {
  grid-area: social;
  padding: 0 0 1em 0;
}
.contactImg {
  grid-area: img;
}
/* styles for the social media icons */
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
 }
 
 a.social:hover {
 transform: translateY(-2px); 
 color: chartreuse;
 }
 
 a.facebook {
 color: #4968ad;
 }
 
 a.twitter {
 color: #49a1eb;
 }
 
 a.instagram {
 color: black;
 }
 
 
 /*Email Style*/
.emailBox {
  grid-area: email;
  text-align: center;
  font-size: calc(1rem + ((1vw - 3.2px) * 1));
  font-family: 'Roboto Slab', serif;
}

a.email {
  color: blue;
}

a.email:hover {
  color: hotpink;
}
/*Events Layout style*/
.twitter {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.footer {
  position: absolute;
  width: 100%;
  height: 5rem;
}
