#root {
  background-color: #e7dada;
  background-size: cover;
  
}

.navBar {
  color: white;
  background-color: black;
  font-size: .5rem;
  box-shadow: 0 2px 2px -2px rgba(107, 105, 105, 0.2);
}
/*Home page style*/
.homeContentGrid {
  display: grid;
  grid-template-columns: auto;
  /* grid-template-rows: 1fr 10rem 1fr; */
  grid-template-areas: "titleBox"
                       "mission"  
                       "slideShow"
                       "youtube"
                       "twitter"
                       "affiliations" ;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.titleBox {
  grid-area: titleBox;
  background-image: url(./Images/ninePlates.jpeg);
  background-repeat: no-repeat;
  justify-content: center;
  align-self: center;
  text-align: center;
  display: flex;
  background-size: 100%;
  width: 100%;
  height:100vh;
  -webkit-background-size: 100%;
  -moz-background-size: 100%, ;
  -o-background-size: 100%,;
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0
  filter: grayscale(90%); */

}

.title {
  background-color: rgba(173, 166, 166, 0.836);
  opacity: 0.9;
  width: 100%;
  justify-content: center;
  padding: 1rem 1rem;
  align-self: center;
}
.logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.elysianLogo {
  font-family: 'Edwardian Script ITC';
  font-size: 5rem;
  align-self: flex-start;
}
.cateringLogo {
  font-family: 'Edwardian Script ITC';
  font-size: 5rem;
  align-self: flex-end;
}

.motto {
  font-family: 'Merriweather', serif;
  margin: .5rem 0;
  align-self: flex-end;
}

.missionStatement {
 grid-area: mission;
 margin-bottom: 3rem;
 width: 100vw;
 height: 10rem;
 background-color: black;
 padding: 3rem 0 0 0;
 color: white;
}
.twitter {
  grid-area: twitter;
  display: flex;
  text-align: center;
 
}
.youtube {
  grid-area: youtube;
  background-color: black;
  padding: 1rem 1rem;
  margin: 3rem 1rem;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  height: auto;
  width: 90%;
  color: white;
}
.affiliations {
  background-color: black; 
  padding: 1rem 1rem;
  margin: 3rem 1rem 0;
  display: flex;
  grid-area: affiliations;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 35rem;
  color: white;
}
.com_header {
  justify-self: stretch;
  align-self: center;
  font-family: 'Merriweather', serif;
  color: white;
  height: 5rem;
  width: 100%;
}
.catholicCommunity {
  background-image: url(./Images/catholicCommunity.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 15vh;
  width: 30vw;
  margin: .5rem;
  justify-self: center;
  align-self: center;

}
.bbbsUtah {
  background-image: url(./Images/BBBSUtah-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 27vh;
  width: 30vw;
  margin: .5rem;
  justify-self: center;
  align-self: flex-start;
}
.voAmerica {
  background-image: url(./Images/volunteersOfAmerica.png);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 15vh;
  width: 32vw;
  margin: .5rem;
  justify-self: center;
  align-self: center;
}
.slideShow {
  grid-area: slideShow;
  width: 100%;
}
/* About Page layout*/
.aboutTitle {
  background-color: #DBAE4B;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
}
.aboutHead {
  color:black;

}
.aboutMeta {
  align-self: flex-end;
}
.aboutMeContainer {
  display: grid;
  grid-template-columns: .3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "headShot aboutText";
  margin: 0 2rem;
  height: 59vh;
}
.personalImg {
  grid-area: headShot; 
  display: grid;
  justify-self: center;
  align-self: center;
}
.headShot {
  justify-self: center;
  height: 30rem;
  width: 80%;
  border: 1px solid black;
  box-shadow: 10px 10px 8px #888888;
 
}
.aboutMeText {
  grid-area: aboutText;
  text-align: justify;
  align-self: center;
  justify-self: center;
}
/*end of About me layout*/
/*Menu layout and style*/
.menuTitle {
  display: flex;
  flex-direction: column;
  background-color: #DBAE4B;
  font-family: 'Solway', serif;
  text-align: center;
  padding: 1rem 1rem;
}
.menuHead {
  text-align: center;
  font-family: 'Merriweather', serif;
}
.menuMeta {
 font-size: 1rem;
 color: white;
}
.menuContainer {
  display: grid;
  justify-content: center;
  background-image: url(./Images/marbleBG.jpg);
  background-color: #fcfcfc;
  grid-template-columns: 20rem 20rem 20rem;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas: "apps salads desserts" "apps entrees desserts";
 
}
.apps {
  grid-area: apps;
  /* justify-self: center;
  align-self: center; */
  text-align: center;
  margin: 1rem;
}
.itemHead {
  text-decoration: underline;
  margin-bottom: 0px;
}
.salads {
  grid-area: salads;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 1rem;
}
.entrees {
  grid-area: entrees;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 1rem;
}
.desserts {
  grid-area: desserts;
  justify-self: center;
  /* align-self: center; */
  text-align: center;
  margin: 1rem;
}

/*End of Menu style*/
/*Contact */
.contactContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
  flex-wrap: wrap;
  min-height: 30rem;
}
.contactTitle {
  background-color: #DBAE4B;
  color: white;
  display: flex;
  justify-content: center;
  justify-self: center;
  height: 5rem;
  width: 100%;
}
.contactForm {
  padding: 1rem 1rem;
}
/* styles for the social media icons */
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
 }
 
 a.social:hover {
 transform: translateY(-2px); 
 color: chartreuse;
 }
 
 a.facebook {
 color: #4968ad;
 }
 
 a.twitter {
 color: #49a1eb;
 }
 
 a.instagram {
 color: black;
 }
 a.linkedin {
 color: #49a1eb;
 }
 /*End of social styles*/
 /*Email Style*/
.emailBox {
  grid-area: email;
  padding: .5em;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Slab', serif;

}

a.email {
  color: black;
}

a.email:hover {
  color: blue;
}
/*End of Email styles*/

/*Events Layout style*/
.eventHead {
  display:flex;
  background-color: #DBAE4B;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Roboto Slab';
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
}
/*End og events styles*/

/*Footer style*/
.footerGrid {
  justify-content: center;
  align-items: end;
  text-align: center;
  background-color: rgb(219, 174, 75);
  display: grid;
  width: 100%;
  padding: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "title" "social" "email" "phone"  "power";
}

.mainFooter {
  font-family: 'Edwardian Script ITC';
  font-size: 3rem;
  padding: .5em 0;
  grid-area: title;
}
.phoneNum {
  font-family: 'Roboto Slab', serif;
  padding: .5em;
  grid-area: phone;
}
.poweredBy {
  font-family: 'Roboto Slab', serif;
  grid-area: power;
  padding: .5em;
}
.socialFollows {
  grid-area: social;
  padding: 1rem;
}

/*FAQ Page style*/
.faqContainer {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  margin: 3rem 0 5rem 0;
}

.cardContainer {
  justify-content: center;
 
  
}
.faqCard {
 display: flex;
}
.cardHead {
  justify-content: center;
  padding: 1rem;
}
.cardMeta {
  justify-content: center;
  padding: 1rem;
}
/*End Of FAQ Styles*/

/** Slider Css **/
.slide-container {
  width: 80vw;
  margin: auto; }

h3 {
  text-align: center; }


.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80vh;
}

.each-slide span {
  padding: 20rem;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
/** end of slider css**/
@media only screen and (max-width: 767px) {

  .titleBox {
    background-image: url(./Images/ninePlates.jpeg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-end;
    display: flex;
    background-size: 100%;
    margin-bottom: 1rem;
    width: 100.55%;
    height: 70vh;
    margin-bottom: 0;
    -webkit-background-size: 100%;
    -moz-background-size: 100%, ;
    -o-background-size: 100%,;
  
  }
  .title {
    background-color: rgba(173, 166, 166, 0.836);
    opacity: 0.9;
    width: 100%;
  }
  .logo {
    display: flex;
    justify-content: center;
  }
  .elysianLogo {
    font-family: 'Edwardian Script ITC';
    font-size: 3.5rem;
   
  }
  .cateringLogo {
    font-family: 'Edwardian Script ITC';
    font-size: 3.5rem;
  }

  .homeContentGrid {
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: 1fr 10rem 1fr; */
    grid-template-areas: "titleBox"
                         "mission"  
                         "slideShow"
                         "youtube" 
                         "twitter"
                         "affiliations";
    grid-gap: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50rem;
  
  }
  
  .missionStatement {
   grid-area: mission;
   margin-bottom: 3rem;
   width: 100vw;
   height: 10rem;
   background-color: black;
   padding: 1rem 0;
   color: white;
  }
  .affiliations {
    background-color: black; 
    padding: 1rem 1rem;
    margin: 3rem 1rem;
    display: flex;
    grid-area: affiliations;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 60vh; 
  }
  .com_header {
    justify-self: stretch;
    font-family: 'Merriweather', serif;
    color: white;
    height: 5rem;
    width: 100%;
  }
  .catholicCommunity {
    background-image: url(./Images/catholicCommunity.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 15vh;
    width: 30vw;
    margin: .5rem;
    justify-self: center;
    align-self: center;
  
  }
  .bbbsUtah {
    background-image: url(./Images/BBBSUtah-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 20vh;
    width: 30vw;
    margin: .5rem;
    justify-self: center;
    align-self: center;
  }
  .voAmerica {
    background-image: url(./Images/volunteersOfAmerica.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 15vh;
    width: 32vw;
    margin: .5rem;
    justify-self: center;
    align-self: center;
  }
  .twitter {
    grid-area: twitter;
    justify-self: center;
    align-self: center;
    justify-content: center;
  }
  .slideShow {
    grid-area: slideShow;
    width: 100%;
  }
  .slide-container {
    width: 90vw;
    margin: auto; 
  }
  
  h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 40vh;
  }
  /* About Page layout*/
.aboutMeContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .60fr auto;
  grid-template-areas: "headShot" 
                       "aboutText";
  margin: 0 0 0 0;
  height: 100vh;
}
.personalImg {
  grid-area: headShot; 
  display: grid;
  justify-self: center;
  align-self: center;
}
.headShot {
  justify-self: center;
  height: 50vh;
  width: 100vw
}
.aboutMeText {
  grid-area: aboutText;
  text-align: justify;
  justify-self: center;
  align-self: flex-start;
  
}
/*Menu Mobile change*/
.menuContainer {
  display: grid;
  justify-content: center;
  background-color: #fcfcfc;
  grid-template-areas: "apps" "salads" "entrees" "desserts";
  grid-template-columns: 1fr;
}
.apps {
  grid-area: apps;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 1rem;
}

.salads {
  grid-area: salads;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 1rem;
}
.entrees {
  grid-area: entrees;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 1rem;
}
.desserts {
  grid-area: desserts;
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: 1rem;
}
}