#root {
  background-color: #bea6a6;
  background-size: cover;
}
/* html {
  height: 100%;
  margin: 0;
  
}
body {
  display: grid;
  grid-template-rows: 1fr auto;
} */
.navBar {
  color: white;
  background-color: black;
}
/*Home page style*/
.titleBox {
  background-image: url(./Images/ninePlates.jpeg);
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-size: cover;
  width: 100%;
  height: 45vh;
  -webkit-background-size: cover;
  -moz-background-size: cover, ;
  -o-background-size: cover,;
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0
  filter: grayscale(90%); */

}

.title {
  background-color: rgba(173, 166, 166, 0.836);
  opacity: 0.9;
  width: 100%;
}
.mainHeader {
  font-family: 'Edwardian Script ITC';
  font-size: 4rem;
}

.motto {
  font-family: 'Roboto Slab', serif;
}
.homeContentGrid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 10rem 1fr;
  grid-template-areas: "slideShow" "mission" "twitter";
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  min-height: 50rem;

}

.missionStatement {
 grid-area: mission;
 width: 100vw;
 height: 10rem;
 background-color: black;
 padding: 3rem 0 0 0;
}
.twitter {
  grid-area: twitter;
  width: 30em;
  justify-self: center;
}
.slideShow {
  grid-area: slideShow;
  width: auto;
}
/* About Page layout*/
.aboutTitle {
  text-align: center;
  padding: 2rem 0 0 0;
}
.aboutMeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "headShot aboutText";
  margin: 5rem 0 0 0;
  height: 59vh;
}
.personalImg {
  grid-area: headShot;
  display: grid;
}
.headShot {
  justify-self: center;
}
.aboutMeText {
  grid-area: aboutText;
  padding: 0 3rem 0 0;
}
/*end of About me layout*/
/*Menu layout and style*/
.imageContainer {
  display: grid;
}
.menuImage {
  /* margin: 0 2rem 0 2rem; */
  justify-self: center;
}
.menuHeader {
  text-align: center;
  font-family: 'Edwardian Script ITC';
  font-size: 4rem;
  margin: 0 0 0 0;
}

.menuMeta {
  text-align: center;
  font-family: 'Roboto Slab';
}
/*End of Menu style*/
/* styles for the social media icons */
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
 }
 
 a.social:hover {
 transform: translateY(-2px); 
 color: chartreuse;
 }
 
 a.facebook {
 color: #4968ad;
 }
 
 a.twitter {
 color: #49a1eb;
 }
 
 a.instagram {
 color: black;
 }
 a.linkedin {
 color: #49a1eb;
 }
 /*End of social styles*/
 /*Email Style*/
.emailBox {
  grid-area: email;
  padding: .5em;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Slab', serif;

}

a.email {
  color: darkblue;
}

a.email:hover {
  color: hotpink;
}
/*End of Email styles*/

/*Events Layout style*/
.eventContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "eventHead" "twitter";
  grid-gap: 2rem;
}

.eventHead {
  grid-area: "eventHead";
  text-align: center;
  padding: 2rem 0 0 0;
  font-family: 'Edwardian Script ITC';
  font-size: 4rem;
}
/*End og events styles*/

/*Footer style*/
.footerGrid {
  justify-content: center;
  align-items: end;
  text-align: center;
  background-color: tan;
  display: grid;
  width: 100%;
  padding: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "title" "phone" "email" "social" "power";
}

.mainFooter {
  font-family: 'Edwardian Script ITC';
  font-size: 3rem;
  padding: .5em;
  grid-area: title;
}
.phoneNum {
  font-family: 'Roboto Slab', serif;
  padding: .5em;
  grid-area: phone;
}
.poweredBy {
  font-family: 'Roboto Slab', serif;
  grid-area: power;
  padding: .5em;
}
.socialFollows {
  grid-area: social;
  padding: 1rem;
}

/*FAQ Page style*/
.faqContainer {
  margin-top: 5rem;
  display: flex;
  width: 100%;
  margin: 3rem 0 5rem 0;
}

.cardContainer {
  justify-content: center;
 
  
}
.faqCard {
 display: flex;
}
.cardHead {
  justify-content: center;
  padding: 1rem;
}
.cardMeta {
  justify-content: center;
  padding: 1rem;
}
/*End Of FAQ Styles*/

/** Slider Css **/
.slide-container {
  width: 57vw;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 50vh;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
/** end of slider css**/
@media only screen and (max-width: 767px) {
  .homeContentGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 10rem auto;
    grid-template-areas: "slideShow" "mission" "twitter";
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 2em 0 2em 0;
    min-height: 50rem;
  
  }
  
  .missionStatement {
  grid-area: mission;
  width: 100vw;
  height: 10rem;
  background-color: black;
  padding: 3rem 0 0 0;
  }
  .twitter {
    grid-area: twitter;
    width: 30em;
    justify-self: center;
  }
  .slideShow {
    grid-area: slideShow;
    width: auto;
  }
  .slide-container {
    width: 25rem;
    margin: auto; }
  
  h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 25em;
  }
}